

<script>
	$(window).load(function(){
    $('#cover').fadeOut(1000);
});
</script>


<div class="col-md-10" id="cover">
<div class="bg-grey" id="dashboard">
	<% if @user.student? %>
		 <%= render 'profiles/student' %>
	 <% end %>

 	 <% if @user.company? %>
		 <%= render 'profiles/company' %>
	 <% end %>

</div>


</div>

