

<div class="col-md-10 col-md-offset-2">

<div id="dashboard">
	<% if @user.student? %>
		 <%= render 'profiles/student' %>
	 <% end %>

 	 <% if @user.company? %>
		 <%= render 'profiles/company' %>
	 <% end %>

</div>


</div>

