<div class="row">
	<div class="main-lesson-show col-md-12">
		<div class="col-md-3">
	  <h1><%= @lecture.title %></h1>
	  </div>
	  <div class="col-md-7 main-lesson-summary col-md-offset-2">
	  <h4><%= @lecture.lessons.count %> lessons to watch</h4>
	  <p> <%= @lecture.description %></p>
	  </div>
	</div>
</div>