

<div class="row bg-blackhaze border-top">
  <div class="container mb-150">
    <div class="container-left col-md-8">
      <div class="col-md-12">
       <% @lectures.each do |lecture| %>
        <div class="col-md-6 lecture margin-s">
          <div class="lecture-box">
            <%= image_tag lecture.picture.url(:medium) %>
            <p class="pad5"><%= truncate(lecture.description, length: 80) %> </p>

            <p> 
           
            </p>
            <%= link_to 'Enroll Now', enrollments_path(@enrollment, enrollment: {user_id: 'current_user.id', lecture_id: lecture.id}), :method => :post %>
          </div> <!-- .lecture-box -->
        </div> <!-- .col-md-4 -->
      <% end %>
      </div> <!-- .col-md-12 -->
    </div> <!-- .container-left -->
  
   <div class="container-right col-md-4 margin-s">
      <% Category.all.each do |category| %>
      <div class="list-category bg-white center">
        <%= link_to category.name, lectures_path(category: category.name), class: "mirage" %>
      </div>
      <% end %>
    </div>
  </div> <!-- .container -->
</div> <!-- row -->

















