<div class="row" id="library">
  <div class="library">
    <h1>Library</h1>
    <h2>Browse through our lessons</h2>
  </div>
</div>

<div class="row" id="main-library">

  <div class="container-fluid margin-s">

    <div class="container-left col-md-10">

      <div class="col-md-12">

       <% @lectures.each do |lecture| %>

      <div class="col-md-4">
        <div class="lecture-box">
          <%= image_tag lecture.picture.url(:medium) %>
          <p><%= truncate(lecture.description, length: 80) %> </p>
           <%= link_to "Start Now", lecture, class: "btn btn-blue" %>
      
   
      


        </div> <!-- .lecture-box-1 -->
      </div> <!-- .col-md-4 -->
      <% end %>
      </div> <!-- .col-md-12 -->
    
    </div> <!-- .container-left -->
  
   <div class="container-right col-md-2">
      

  <% Category.all.each do |category| %>
  <div class="list-category bg-white">
    <%= link_to category.name, lectures_path(category: category.name) %>
  </div>
  <% end %>





   </div>
  </div> <!-- .container -->
</div> <!-- #main-library -->




















