<div id="faq" class="row padding-top-xl">
	<div class="faq">
	<h1 class="center mb-60 white">Frequently Asked Questions</h1>
		<div class="col-md-12">
			<div class="col-md-5 box-faq">
				<h2>What is a Challenge?</h2>
				<p>A challenge is a short mission aimed at helping a company solve a problem. After a student has succesfully completed a course, he or she can join challenges and submit recommendations to the companies.</p>
			</div>
			<div class="col-md-5 box-faq mb-40">
				<h2>What type of Challenge can I post?</h2>
				<p>At the moment we only accept challenges related to the learning outcomes of our Workshop Social Media.</p>
				<p>Here are some templates you can use:</p>
		
					<%= link_to 'Challenge 1 - Run a social media audit', "https://www.workshopr.me/blog/challenge-run-a-social-media-audit", target: '_blank', class: 'bezier' %> <br>
					<%= link_to 'Challenge 2 - Create a social media calendar', "https://www.workshopr.me/blog/social-media-challenge-2:-create-a-one-week-social-media-calendar", target: '_blank', class: 'bezier' %> <br>
					<%= link_to 'Challenge 3 - Perform an ICE analysis', "https://www.workshopr.me/blog/social-media-challenge-3:-industry,-competitors,-experts-analysis
", target: '_blank', class: 'bezier mb-20' %>
			
			</div>
			<div class="col-md-5 box-faq last-box-faq">
				<h2>How long does it take to post a challenge?</h2>
				<p>It usually takes under 30 minutes to publish a Challenge on our platform. However, it can vary depending on the nature of your activity and the maturity of your business.</p>
				<p>If you don't want to do it yourself, contact <%= mail_to 'hello@workshopr.me', 'Company Support', class: 'bezier', subject: 'Please help me publish a Challenge' %> and we will do it for you</p>
			</div>
			<div class="col-md-5 box-faq margin-s last-box-faq-2">
				<h2>How much does it cost?</h2>
				<p>Nothing. It's completely FREE</p>
			</div>
		</div>
	</div>
</div>