<div class="container"><section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img"><i class="fa fa-check"></i>

 </div>
    <!-- cd-timeline-img -->
    
    <div class="cd-timeline-content">
      <span class="steps">Step 1</span>
      <h2>learn</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, minima soluta laudantium aliquam consequuntur ullam a perspiciatis iusto earum dolores pariatur eius quis magni fuga minus, quaerat architecto ex fugit. </p>
    </div>
    <!-- cd-timeline-content --> 
  </div>
  <!-- cd-timeline-block -->
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img"><i class="fa fa-check"></i>

</div>
    <!-- cd-timeline-img -->
    
    <div class="cd-timeline-content">
      <span class="steps">Step 2</span>
      <h2>Practice</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae labore, facere dignissimos distinctio numquam dolore. Sunt impedit harum, at nemo id aliquid laudantium nobis voluptatum, illo ducimus a dolor nulla.</p>
    </div>
    <!-- cd-timeline-content --> 
  </div>
  <!-- cd-timeline-block -->
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img"> <i class="fa fa-check"></i>

 </div>
    <!-- cd-timeline-img -->
    
    <div class="cd-timeline-content">
      <span class="steps">Step 3</span>
      <h2>Get Hired!</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit perferendis illum, similique nesciunt sapiente provident optio laborum ratione enim, sint excepturi temporibus, id dignissimos in autem omnis quasi sunt cumque.</p>
    </div>
    <!-- cd-timeline-content --> 
  </div>
  <!-- cd-timeline-block -->
  
 
</section>
</div>
