<div class="row bg-white section-benefits-company">
	<div class="col-md-5 company-benefit-box">
    	<h2>Why publish a challenge</h2>
     	 <p>Have you ever got stuck launching a project because you lacked of resources or expertise? Guess what? Meanwhile, many students crave real-world to develop their professional experience. We offer the possibility to turn your projects into reality. 
      	 </p>
         <a onclick="$('html, body').animate({scrollTop: $('#section2').offset().top}, 1000);" class="btn btn-bezier btn-large" />See How We can Help You</a>
  </div>
  <div class="col-md-5 company-benefit-box">
    	<h2>Who solves challenges</h2>
     	 <p>Our community is mainly composed by students from top-notch business schools and universities. it also includes highly motivated people willing to expand their knowledge. In both case, they want to get professional experience to land their dream job.
      	 </p>

         <a onclick="$('html, body').animate({scrollTop: $('#section2').offset().top}, 1000);" class="btn btn-bezier btn-large" />See Profiles of Our Students</a>
  </div>
</div>