<div class="row">
  <div id="section-image">
    <div class="container-section-image center vertical">
      <h1>Learn. Practice. You're ready</h1>
      <h2>The online education platform where you gain<br> additional skills and professional experience</h2>
      <%= link_to "I am a Student", root_path, class: "btn btn-bezier-border btn-medium" %>
      <%= link_to "Oops, I am a Company", company_path, class: "btn btn-bezier btn-medium" %>  
        <div class="center">
      <a onclick="$('html, body').animate({scrollTop: $('.section-benefits').offset().top}, 1000);" type="button"  placeholder="" /><i class="fa fa-chevron-circle-down"></i></a>
  </div>
    </div>
  </div>
</div>
