<div class="row">
  <div id="section-image" data-vide-bg="https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/videos/bg_video.mp4">
    <div class="container-section-image center vertical">
      <h1>Learn. Practice. You're ready</h1>
      <h2>We make online education more practical</h2>
      
       
      <a class="uppercase btn btn-bezier btn-medium weight600" onclick="$('html, body').animate({scrollTop: $('.section-course').offset().top}, 1000);" type="button"  placeholder="" />Start Learning</a>

      
     
    </div>
  </div>
</div>

