<div class="row section-customers center" id="">
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/bandy.png', height: 40, width: 129) %>
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/wisembly.png', height: 40, width: 175) %>
	<%= image_tag('https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/ted.png', height: 50, width: 123) %>


</div>

