<div class="row height610 bg-white" id="section-home-1">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="col-md-5" id="bg-section-home-1">
      </div>
      <div class="col-md-6" id="content-section-home-1">
         <div class="center">
         <h1>Skyrocket your career</h1>
          <p class="margin-s">No need to be a genius to understand that today's job market is getting increasingly complex. Companies are looking for people with double competences. In educational institutions you learn models and theories but not how to apply them in real life. We work hard to bridge this gap between education and real life.</p>
           <%= link_to "More about what we do", pages_about_path , class: "btn btn-two-colors" %>
        </div>
      </div>
    </div>
  </div>
</div>