<div class="row">
  <div id="section-image">
    <div class="container-section-image center vertical">
      <h1>Learn. Practice. You're ready</h1>
      <h2>The education that does not only teach you...</h2>
      <%= link_to "Start Learning", lectures_path, class: "btn btn-bezier btn-medium" %>
      <%= link_to "Publish a Project", new_user_registration_path, class: "btn btn-bezier-border btn-medium" %>  
    </div>
  </div>
</div>