<div class="row">
  <div id="section-image-company">
    <div class="container-section-image center vertical">
      <h1>Challenge Our Students</h1>
      <h2>Students help you turn your projects into reality<br> after learning industry standards skills</h2>
      
      <a class="uppercase btn btn-bezier btn-medium" onclick="$('html, body').animate({scrollTop: $('#section2').offset().top}, 1000);" type="button"  placeholder="" />Publish a Challenge</a>

      <%= link_to "I am a Student", root_path, class: "btn btn-bezier-border btn-medium" %>

      
    </div>
  </div>
</div>
