<div class="row section-course">
	<div class="center mb-150">
	<h2 class="bezier uppercase">Start Learning Now</h2>
	    	
	         <div class="home-course-box dashboard-student-box">
				<%= image_tag(@lecture.picture.url) %>
		        <h3 class="center"><%= @lecture.title %></h3> 
		        <p class="center by-teacher">by <%= @lecture.teacher.name %></p>
		</div>
	</div>
</div>