

<div class="row section-benefits">


<h2 class="main-title-benefits center bezier uppercase">How It Works</h2>

  <div class="col-md-4 benefit-box">
    <h2>1. Learn more skills</h2>
    <p>Take one of our classes and learn at your own pace. You have access to the class for one year.</p>
  </div>

  <div class="col-md-4 benefit-box">
    <h2>2. Challenge yourself</h2>
    <p>Complete a course to gain access to related challenges published by a broad range of companies. </p>
  </div>
       
  <div class="col-md-4 benefit-box">
    <h2>3. Get hired</h2>
    <p>Pretty self explanatory, isn’t? Now you're ready to apply for the best positions and internships.</p>                 
  </div>
</div>