

<div class="row center section-benefits">


<h2 class="main-title-benefits bezier uppercase">How It Works</h2>

  <div class="col-md-4 benefit-box">
    <h2>1 Learn More Skills</h2>
    <p>Take one of our classes and learn at your own pace.</p>
  </div>

  <div class="col-md-4 benefit-box">
    <h2>2 Challenge Yourself</h2>
    <p>Complete a course to gain access to releated challenges published by a broad range of companies</p>
  </div>
       
  <div class="col-md-4 benefit-box">
    <h2>3 Get Hired</h2>
    <p>Pretty self explanatory, isn’t? Now you're ready to apply for the best positions and internships.</p>                 
  </div>
</div>