<div class="row">
  <div id="section-image"
  	 data-vide-bg="mp4: https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/videos/bg_video.mp4, webm: https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/videos/bg_video.webm, png: https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/videos/bg_video.png, jpeg: https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/videos/bg_video.jpeg, jpg: https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/videos/bg_video.jpg, gif: https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/videos/bg_video.gif">
    <div class="container-section-image center vertical">
      <h1>Learn. Practice. You're ready</h1>
      <h2>We make online education more practical</h2>
      
       
      <a class="uppercase btn btn-bezier btn-medium weight600" onclick="$('html, body').animate({scrollTop: $('.section-course').offset().top}, 1000);" type="button"  placeholder="" />Start Learning</a>

      
     
    </div>
  </div>
</div>

