<div class="row">
  <div id="section-image">
    <div class="container-section-image center vertical">
      <h1>Learn. Practice. You're ready</h1>
      <h2>The online education platform where you gain<br> additional skills and professional experience</h2>
      
       
      <a class="uppercase btn btn-bezier btn-medium" onclick="$('html, body').animate({scrollTop: $('.section-course').offset().top}, 1000);" type="button"  placeholder="" />Start Learning</a>

      <%= link_to "I am a Company", company_path, class: "btn btn-bezier-border btn-medium" %>  
     
    </div>
  </div>
</div>
