<div class="row bg-white section-benefits-company mb-60">
	<div class="center">
    	<h2>I am a company</h2>
     	 <p>You are starting your business and need help on your projects? Get the help of students who are looking for discovering professional life. You need to get things done, they need to prove themselves.
      	 </p>
         <a onclick="$('html, body').animate({scrollTop: $('#section2').offset().top}, 1000);" class="btn btn-bezier btn-large" />Publish your first project - It's entirely free!</a>
  </div>
</div>