

<div class="row center section-benefits">
  <div class="col-md-4 benefit-box">
    <span class="steps">Step 1</span>
    <h2>edutain yourself</h2>
    <p>Learn at your own pace and <strong>gain skills that are complementary to your educational background in a fun way.</strong></p>
  </div>

  <div class="col-md-4 benefit-box">
    <span class="steps">Step 2</span>
    <h2>work on projects</h2>
    <p>Complete a course to get access to projects. Challenge yourself by working on projects from scratch</p>
  </div>
       
  <div class="col-md-4 benefit-box">
    <span class="steps">Step 3</span>
    <h2>get hired</h2>
    <p>Pretty self explanatory, isn’t? Now you're ready to apply for the best positions and internships.</p>                 
  </div>
</div>