<div class="row" id="section2">
	<div class="container mb-60 vertical">
		<div class="col-md-4">
			<div class="rectangle">
				<i class="fa fa-wrench"></i>
			</div>
			<h2>hello</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			</p>
		</div>
		<div class="col-md-4">
			<div class="rectangle">
				<i class="fa fa-clock-o"></i>
			</div>
			<h2>hello</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			</p>
		</div>
		<div class="col-md-4">
			<div class="rectangle">
				<i class="fa fa-cogs"></i>
			</div>
			<h2>hello</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			</p>
		</div>
	</div>	
</div>