<div class="row section-0" id="section-0">
  <div class="container-fluid center">
      <h3>How it works</h3>
      <a onclick="$('html, body').animate({scrollTop: $('#section-home-1').offset().top}, 1000);" type="button"  placeholder="" /><i class="fa fa-chevron-down"></i></a>
  </div>
</div>