<div class="row section-course">
	<div class="center">
	<h2 class="bezier weight800">Check out our first class</h2>
		<h2><%= link_to @lecture.title, lecture_description_path(@lecture) %></h2>
		<div class="mb-150">
	    	<%= @lecture.video.html_safe %>
		</div>
	</div>
</div>