

<div class="row center section-benefits">
  <div class="col-md-4 benefit-box">
    <span class="steps"> Step 1 </span>
    <h2>Learn more skills</h2>
    <p>Take one of our classes and learn at your own pace.</p>
  </div>

  <div class="col-md-4 benefit-box">
    <span class="steps">Step 2 </span>
    <h2>+ Challenge Yourself</h2>
    <p>Complete a course to gain access to releated challenges published by a broad range of companies</p>
  </div>
       
  <div class="col-md-4 benefit-box">
    <span class="steps">Step 3</span>
    <h2>= get hired</h2>
    <p>Pretty self explanatory, isn’t? Now you're ready to apply for the best positions and internships.</p>                 
  </div>
</div>