<div class="row bg-white section-benefits-company">
	<div class="center">
    	<h1>I am a company</h1>
     	 <p>You are starting your business and need help on your projects? Get the help of students who are looking for one thing: work experience. You need to get things done, they need to prove themselves. They are able to help you. 
      	 </p>
         <a onclick="$('html, body').animate({scrollTop: $('#section2').offset().top}, 1000);" class="btn btn-bezier btn-large" />Publish your first project - It's entirely free!</a>
  </div>
</div>