<div class="row" id="container-testimonial">
  <div class="container">
    <h1>What people say about us</h1>

       <div class="col-md-12">

        <div class="col-md-4">
          <div class="portrait">
           <%= image_tag("mo.jpg", height: "200", width: "200") %>  
           <h2>Mohammed, Blogger</h2>
           <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt provident culpa alias doloribus rerum earum, dolore omnis."</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="portrait">
           <%= image_tag("mo.jpg", height: "200", width: "200") %>  
           <h2>Mohammed, Marketer</h2>
           <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt provident culpa alias doloribus rerum earum, dolore omnis."</p>
          </div>
        </div>

        <div class="col-md-4">
         <div class="portrait">
           <%= image_tag("raj.jpg", height: "200", width: "200") %>
           <h2>Mohammed, Web Designer</h2>
           <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt provident culpa alias doloribus rerum earum, dolore omnis."</p>
          </div>
        </div>
         
      </div>


  </div> 
</div> 

