<% content_for :navbar do %>
      <%= render 'layouts/navbar_blog' %>
 <% end %>

<div class="row row-header mb-100">
     <h1 class="contact center uppercase white margin-s">Meet our Team</h1>
</div>

<div class="width760 center about-team">
	<div class="col-md-4">
	<%= image_tag("adrien1.jpg", height: "150", width: "150", class: "profile") %>
		<h3>Adrien Nhem</h3>
		<p class="weight400">CEO & Co-founder</p>
	</div>	

	<div class="col-md-4">
	<%= image_tag("adrien1.jpg", height: "150", width: "150", class: "profile") %>
		<h3>Agatha Bleuzen</h3>
		<p class="weight400">Communications & Co-founder</p>
	</div>	

	<div class="col-md-4 mb-100">
	<%= image_tag("adrien1.jpg", height: "150", width: "150", class: "profile") %>
		<h3>Benjamin Astier</h3>
		<p class="weight400">Bizdev</p>
	</div>
</div>

<div class="story width760 clear mb-100">
	<h2>Our Story</h2>
	<p class="margin-s mb-60 weight400 color-text">
		Just over a few months ago, we began to be captivated about the idea of improving the employability of our classmates. What if you could really show recruiters skills that make you outstanding? Or get promoted quicker because you do stuff than no one else does? You may call us crazy, but we dreamed to elaborate the closest online classes to reality. While there are many ways to learn, we realized there is no better way to experience learning right now than through entertaining videos. We do not want to replace degrees, we want to make them better. 
	</p>
</div>
