
<div class="row" id="about">

</div>

<div class="story width550 margin-s centerd">

	<h1 class="center">Our Story</h1>
	<p class="cod margin-s size14">
Just over a few months ago, we began to be captivated about the idea of improving the employability of our classmates. What if you could really show recruiters skills that make you outstanding? Or get promoted quicker because you do stuff than no one else does? You may call us crazy, but we dreamed to elaborate the closest online classes to reality. While there are many ways to learn, we realized there is no better way to experience learning right now than through entertaining videos. We do not want to replace degrees, we want to make them better. </p>

</div>