<% set_meta_tags site: "Workshopr", title: "Meet the team" %> 
<% set_meta_tags keywords: "Meet the workshopr team, team for online courses, elearning" %>
<% set_meta_tags description: "At Workshopr we have built a  team to deliver the best online education experience to our students" %>


<% content_for :navbar do %>
      <%= render 'layouts/navbar_blog' %>
 <% end %>

 <script type="text/javascript">
    mixpanel.track("Visit About Us")
</script>

<div class="row row-header mb-100">
     <h1 class="contact center uppercase white margin-s">Meet our Team</h1>
</div>

<div class="row">

<div class="center about-team">
	<div class="col-md-4">
	<%= image_tag("https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/adrien.jpg", class: "profile") %>
		<h3>Adrien Nhem</h3>
		<p class="weight400">Co-founder</p>
	</div>	

	<div class="col-md-4">
	<%= image_tag("https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/ophely.jpg", height: "150", width: "150", class: "profile") %>
		<h3>Ophely Nhem</h3>
		<p class="weight400">Co-founder</p>
	</div>	

	<div class="col-md-4 mb-100">
	<%= image_tag("https://s3-us-west-2.amazonaws.com/workshopr-picture/assets/pictures/justine.jpg", height: "150", width: "150", class: "profile") %>
		<h3>Justine Carandante</h3>
		<p class="weight400">Creative & Design</p>
	</div>
</div>
</div>

<div class="story clear mb-100">
	<h2>Our Story</h2>
	<p class="margin-s mb-60 weight400 color-text">
		Just over a few months ago, we began to be captivated about the idea of improving the employability of our classmates. What if you could really show recruiters skills that make you outstanding? Or get promoted quicker because you do stuff than no one else does? You may call us crazy, but we dreamed to elaborate the closest online classes to reality. While there are many ways to learn, we realized there is no better way to experience learning right now than through entertaining videos and challenges. We are not a University or an online education platform, but the bridge between higher education and the job market. 
	</p>
</div>
