<div class="row" id="contact">
	<div class="container">
	<div class="col-md-12">
		<p>If you want to talk about education, you have and issue or if you just want to say hi, just give us a ring! We are always happy to hear from you!</p>

		<div class="col-md-6">
			<i class="fa fa-phone"></i>
			<h2>Call Us</h2>
			<p>We are based in London: 07473988285</p>
		</div>
		<div class="col-md-6">
			<i class="fa fa-send"></i>
			<h2>Email Us</h2>
			<%= mail_to("hello@workshopr.me", "Hello@workshopr.me") %>
		</div>
		<div class="col-md-6">
			<i class="fa fa-twitter"></i>
			<h2><%= link_to("Tweet Us", "https://twitter.com/Workshopr", target: "_blank") %></h2>
			
		</div>
		<div class="col-md-6">
			<i class="fa fa-facebook"></i>
			<h2><%= link_to("Via Facebook", "https://www.facebook.com/workshopr", target: "_blank") %></h2>
		</div>
	</div>
</div>

</div>


