 <% content_for :navbar do %>
      <%= render 'layouts/navbar_blog' %>
 <% end %>

 <div class="row row-header mb-100">
     <h1 class="contact center uppercase white margin-s">Help Center</h1>
</div>

