<div class="main-root">
	<h1>Workshopr<span>.</span></h1>
	<h2>Learn something that matters</h2>
	<%= link_to 'Enter', lectures_path %>
</div>

<div class="ggsb">
	<span>Powered by</span>
	<%= image_tag("ggsb.jpg", height: "150", width: "150") %>
</div>


<!-- if successful login redirect to letures_path -->






