<% content_for :title_page do %>
Workshopr - Publishing Rules For Challenges
<% end %>


 <% content_for :navbar do %>
      <%= render 'layouts/navbar_blog' %>
 <% end %>

  <script type="text/javascript">
    mixpanel.track("Visit Rules")
</script>

<div class="row row-header mb-60">
     <h1 class="center uppercase white margin-s">Our Rules</h1>
</div>


<div class="row rules-body">
	<div class="rules-student width760 mb-100 margin-s">

	<h3 class="mb-40">For Students</h3>

	<h4><i class="fa fa-check"></i> All undertaken challenges must be achieved</h4>

	<p>Challenges help you discover aspects of the professional life. Applying your knowledge is key to your future success.</p>

	<h4><i class="fa fa-check"></i> Do your best</h4>


	<p>Send the best recommendations you can to a company. Never forget that companies rely on your expertise.</p>

	<h3 class="mb-40 margin-s">For Companies</h3>

	<h4><i class="fa fa-check"></i> Challenges must be honest and clearly presented.</h4>

	<p>We want to build trust and improve communication between students and companies.</p>

	<h4><i class="fa fa-check"></i> Challenges must improve both parties</h4>

	<p>Keep in mind that students help you achieve your goals, but they are also here to discover professional life.</p>

	<h4><i class="fa fa-check"></i> Students only provide recommendations</h4>

	<p>Students cannot be held liable for the recommendations they provide. They always try to do their best.</p>

	<p class="margin-s">These rules don’t cover every possible use of Workshopr, but they explain our purpose and perspective.</p>

	</div>

</div>