 <% content_for :navbar do %>
      <%= render 'layouts/navbar_blog' %>
 <% end %>

<div class="row row-header mb-60">
     <h1 class="center uppercase white margin-s">Our Rules</h1>
     <h2 class="header-rules white center">We want to bring the best experience for both students and companies</h2>
</div>


<div class="row rules-body">
	<div class="rules-student width700 mb-100 margin-s">

	<h3>For Students</h3>

	<h4><i class="fa fa-check"></i> All undertaken projects must be achieved</h4>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, commodi, officiis. Maxime amet animi cupiditate voluptates, voluptas facere ipsam quis doloremque eaque sapiente odit qui tempora fugit at mollitia sint.</p>

	<h4><i class="fa fa-check"></i> Provide honest recommendations</h4>


	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, commodi, officiis. Maxime amet animi cupiditate voluptates, voluptas facere ipsam quis doloremque eaque sapiente odit qui tempora fugit at mollitia sint.</p>

	<h3>For Companies</h3>

	<h4><i class="fa fa-check"></i> Projects must be honest and clearly presented.</h4>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, commodi, officiis. Maxime amet animi cupiditate voluptates, voluptas facere ipsam quis doloremque eaque sapiente odit qui tempora fugit at mollitia sint.</p>

	<h4><i class="fa fa-check"></i> Projects must aim at improving both students and companies</h4>

	<p>These rules don’t cover every possible use of Kickstarter, but they explain our purpose and perspective.</p>

	<h4><i class="fa fa-check"></i> Solutions provided by students consitutes only recommendations</h4>

	<p>Students can't be held liable for a solution implemented by a company. However students are to work honestly and do their best to help on projects</p>

	<a href="#">see what our students are capable of</a>
	<br>
	<a href="#">Need help to create your project?</a>

	</div>

</div>