 <% content_for :navbar do %>
      <%= render 'layouts/navbar_blog' %>
 <% end %>

 <div class="row">
  <div id="rules">
    <div class="container-rule container center vertical">
      <h1 class="white centered">Our Rules</h1>
      <h2 class="white">We want to bring projects that adds value to both students and companies.</h2> 
    </div>
  </div>
</div> <!-- .row #main-homepage -->


<div class="row" id="rules-body">
	<div class="width700 mb-60 margin-s">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque labore sint minima dignissimos laborum facere ut, necessitatibus consequatur unde autem inventore architecto recusandae, dolorem quae aliquam delectus officia porro.</p>
	<h3>First Rule</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, commodi, officiis. Maxime amet animi cupiditate voluptates, voluptas facere ipsam quis doloremque eaque sapiente odit qui tempora fugit at mollitia sint.</p>
	<h3>Second Rule</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, commodi, officiis. Maxime amet animi cupiditate voluptates, voluptas facere ipsam quis doloremque eaque sapiente odit qui tempora fugit at mollitia sint.</p>
		<h3>Third Rule</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, commodi, officiis. Maxime amet animi cupiditate voluptates, voluptas facere ipsam quis doloremque eaque sapiente odit qui tempora fugit at mollitia sint.</p>

	<a href="#">see what our students are capable of</a>
	<br>
	<a href="#">Need help to create your project?</a>

</div>