<div class="container">
	 <div class="index-header center">
       <h1>All Events</h1>
       <h2>Check our events</h2>
     </div>
	<div class="margin-s mb-60" id='calendar'></div>
</div>


<script>
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

});
</script>