<script type="text/javascript">
    mixpanel.track("Message Sent")
</script>

<div class="container-fluid center">
	<div class="signout-container">
		<h1>Thank you for your message!</h1>
		<%= link_to "Return to the Homepage", root_path %>
	</div>
</div>