<% content_for :navbar do %>
    <%= render 'layouts/sidebar' %>
<% end %>

<div class="row" id="dashboard-header" data-no-turbolink>
	<h1 class="dashboard-title">Edit <%= @project.title %></h1>
</div>


<h2 class="center new-project-title">Need to make some changes?</h2>

<%= render 'form' %>


