<% content_for :navbar do %>
    <%= render 'layouts/sidebar' %>
<% end %>

 <script type="text/javascript">
    mixpanel.track("Visit New Challenge")
</script>


<div class="row" id="dashboard-header">
	<h1 class="dashboard-title bezier">Challenge Builder</h1>
</div>


<h2 class="center new-project-title">Start Building A Challenge <%= link_to 'Need help?', 'http://www.twitter.com', target: '_blank', class: 'help-label label label-default' %>
</h2>


	<%= render 'projects/form.html.erb' %>


