<% content_for :navbar do %>
    <%= render 'layouts/sidebar' %>
<% end %>


<div class="row" id="dashboard-header" data-no-turbolink>
	<h1 class="dashboard-title">Start your new project!</h1>
</div>


<h2 class="center new-project-title">Start creating your discovery project now!</h2>

	<%= render 'projects/form.html.erb' %>


