<% content_for :navbar do %>
    <%= render 'layouts/sidebar' %>
<% end %>

 <script type="text/javascript">
    mixpanel.track("Visit New Challenge")
</script>


<div class="row" id="dashboard-header" data-no-turbolink>
	<h1 class="dashboard-title">Challenge Builder</h1>
</div>


<h2 class="center new-project-title">Start Building A Challenge</h2>

	<%= render 'projects/form.html.erb' %>


