<div class="panneau-lesson col-md-offset-3">
	<div class="panneau-lesson-title">

	<h1 class="page-header">
		<%= lesson.title %></h1>	
	</div>
	<div class="panneau-lesson-description page-header">
	<%= lesson.description %>
	</div>
	<div class="panneau-lesson-footer">
				<%= link_to [lesson.lecture, lesson] do %>
		<span class="glyphicon glyphicon-play-circle"></span>
		<% end %>
		 
	</div>
	
	<% if current_admin ==  @lecture.admin  %>
	<%= link_to 'Delete', [lesson.lecture, lesson], method: :delete %>
	<% end %>
</div>