<div class="lessons-content">
	<%= lesson.title %>
	<%= lesson.description %>
	<%= link_to 'Show', [lesson.lecture, lesson] %>
	<%= link_to 'Delete', [lesson.lecture, lesson], method: :delete %>
</div>