
$proxima-nova: "proxima-nova";



$white: #FFFFFF;

$grey-chateau: #A0A1A3;

$steel:#666666;

$mine-shaft:#333333;

$shamrock:#44CB9B; 

$flamingo:#EE6646; 

$border-lily-white:1px solid #ebebeb;




/* Bootstrap Variables */

$navbar-default-bg:$mine-shaft;

$navbar-border-radius:0px;

$navbar-default-border:none;

$page-header-border-color:#D4D4D4;