
$proxima-nova: "proxima-nova", sans-serif !important;



$white: #FFFFFF;

$grey-chateau: #A0A1A3;

$steel:#666666;

$mine-shaft:#333333;

$shamrock:#44CB9B; 

$orange-peel:#FF9F00; 

$border-lily-white:1px solid #ebebeb;

$bezier:#FF0066;

$black-pearl:#1F2432;

$cloud-burst:#323C4F;

$tuna:#323A45;

$hint-red:#F9F9FA;

$mercury:#E4E4E4;

$blue-charcoal:#242B33;

$electric-blue:#1486D0;

$casper:#B5BDCF;

$zircon:#E1E3E5;

$electric-green:#22CDC8;

$cadet-blue:#A7B3C1;

$solitude:#EAEFF2;

$mystic:#E1E7EC;

$aluminium:#999999;

$wild-sand:#F5F5F5;

$athens-gray:#DEDEDE;

$raven: #3C454E;

$body:#a1a9ae;

$border:1px solid #d5d9da;

$text:#656565;

$heading: #323232;




/* Bootstrap Variables */

$navbar-default-bg:$tuna;

$navbar-border-radius:0px;

$navbar-default-border:none;

$page-header-border-color:#D4D4D4;


/* Navbar */

$navbar-default-link-color:$bezier;