
@import 'config';

//--------------------------------------------------------------
// Devise Layout 
// --------------------------------------------------------------

.devise {
    background: $wild-sand;
}


#devise-signup {
    margin: -60px 0 0 0;
    width: 100%;
}

.panel-devise {
    padding-top: 50px;
    width: 500px;
    margin: 0 auto;
}

#devise a {
    display: inline-block !important;
    float: left !important;
    color: $bezier;
    font-weight: 100;
    font-size: 12px;
    margin-top: -10px;
}

.panel {
    margin-top: 20px;
    border: none;
    width: 500px;
    border-radius: 10px !important;
}

.panel-heading {
    background: $tuna !important;
    color: $hint-red !important;
    height: 100px;
    border-radius: 10px 10px 0 0  !important;
}

h3.panel-title {
    font-size: 36px !important;
    text-align: center;
    margin-top: 25px;
    font-weight: 400;
}

.panel-body p {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
}

.panel-body input {
    width: 460px !important;
    margin: 10px 0;
    font-weight: 400;
}

.panel-body input.btn-bezier {
    border-radius: 0px;
    padding: 25px 0;
    text-shadow: none;
}

.panel-body input.btn-bezier:hover {
    opacity: 0.8;
}

.panel-body p.center {
    font-size: 12px;
    font-weight: 100;
}

.panel-body select {
    border: none;
    font-weight: 400;
    background: $tuna;
    color: #ffffff;
}


.font20 {
    font-size: 20px;
}




//--------------------------------------------------------------
// RESET PASSWORD
// --------------------------------------------------------------

.reset_password {
    margin: 0 auto;
}

#reset_password form {
    margin: 0 auto;
}



//--------------------------------------------------------------
//  Edit Settings 
// --------------------------------------------------------------


.dashboard-edit-form {
    width: 70%;
    margin: 0 auto;
}


.new-project {
    position: relative;
    top: 100px;
    width: 1025px;
    background: #fff;
    margin: 0 auto;
}

.help-label {
    font-size: 14px;
    background-color: #ff0066;
    position: relative;
    left: 10px;
    top: -5px;
}
