@import 'config';

.payment-logo {
	font-size: 21px;
	font-weight: 600;
	position: absolute;
	top: 5%;
	left: 5%;
}

.row-payment {
	position: relative;
	top: 100px;
}

.row-payment h2 {
	font-size: 42px;
	line-height: 1.5em;
}

.benefits-list {
	font-size: 20px;
}


.stripe-button {
	color: $bezier;
}

.form-payment {
	background: $wild-sand;
	padding: 10px 10px;
	color: $raven;
}

.form-row .float-right {
	margin-right: 60px;
}

#payment-form {
	padding: 10px 10px;
}

.form-row span {
	margin-bottom: 20px;
}

.form-row i {
	font-size: 30px;
	color: $body;
}

.fa-cc-amex {
	margin-left: 20px;
}