// Place all the styles related to the lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// IMPORT FONTS

@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);


// NAVBAR
$navbar-default-brand-color:#DA5D2D;
$navbar-height:50px;
$navbar-border-radius:0px;
$navbar-default-bg:#F5F5F5;

@import "bootstrap-sprockets";
@import "bootstrap";





// GENERAL SETTINGS

body {
	font-family: 'Droid Sans', sans-serif;
}

h1 {
	// font-family: 'Lato', sans-serif;
	font-size:2em;
	// text-transform:uppercase;
}

a, a:hover {
	text-decoration:none;
}


#main {
	background:#F6F6F6;
}


// GOD MODE AREA

#god-mode {
	background:blue;
	color:#fff;
}

#god-mode a, #god-mode a:hover {
 color:#fff;
 font-size:16px;
 text-decoration:none; 
 padding:50px 50px;
}

#god-mode a:hover {
	background:none;
}



//  NAVBAR

.nav {
	font-family: 'Lato', sans-serif;
	font-weight:900;
	text-transform:uppercase;
}

// .navbar-brand {
// 	font-family: 'Oswald', sans-serif;
// 	font-size:24px;
// }

// ROOT

#root {
	border-bottom:10px solid #CF4647;
	border-top:10px solid #EB7B59;
}


.main-root {
	position:absolute;
	top:200px;
	left:450px;
}


.main-root h1 {
	font-size:86px;
}

.main-root h2 {
	color:#EB7B59;
}

.main-root a {
	position:relative;
	top:20px;
	font-size:24px;
}

.main-root a:hover {
	background:#fff;
	color:#000;
}

.ggsb {
	position:absolute;
	bottom:10px;
	right:10px;
}

.ggsb span {
	font-size:18px;
	font-family: 'Lato', sans-serif;
	font-weight:900;

}





// LECTURES/INDEX

#our-classes {
	text-align:center;
	margin:50px;
	font-size:36px;
	// text-decoration:underline;
	padding-bottom:10px;
}

#main-homepage {
	// text-transform:uppercase;
	text-align:center;
	background:#fff;
	font-family: 'Lato', sans-serif;
	// font-weight:400;
	font-size:56px;
	height:220px;
	margin-top:-20px;
	padding-top:20px;
	border-bottom:4px solid #CF4647;
	border-top:4px solid #EB7B59;
}

.panneau {
	background:#fff;
	box-shadow:2px 2px 2px #F8F8F8;
	width:300px;
	border-radius:10px;
	height:350px;
}

.panneau-heading {
	padding:10px 10px;
}

.panneau-body {
	padding:10px 0;
}

.panneau-body p {
	padding:2px 10px;
}

.panneau a:hover {
	background:#fff;
	color:#000;
}

.description {
	text-align:center;
}

// SHOW LECTURES

.panneau-lesson {
	border:1px solid #BCBCBC;
	background:#fff;
	width:700px;
	margin-top:25px;
	box-shadow:1px 1px 1px #2A363B;
}

.panneau-lesson-title h1 {
	padding:10px 10px;
	font-size:24px;
}

span.glyphicon-play-circle {
	font-size:48px;
}


.panneau-lesson-description {
	padding:10px 10px;
}

.panneau-lesson-footer {
	padding:10px 10px;
	font-size:26px;
}

.panneau-lesson-footer a:hover {
	background:#fff;
	color:#000;
}