
//--------------------------------------------------------------
// NAVBAR
// --------------------------------------------------------------

@import 'config';


/* navbar */

nav {
    z-index: 999;
}

.navbar-logo {
    padding-top: 10px;
    padding-left: 10px;
}

.navbar-default {
    height: 50px;
    z-index: 999;
    background: none;
}

.navbar-home {
    background: none;
    padding-top: 20px;
}


.navbar-home li a {
    font-weight: 600;
    font-size: 15px;
    color: #fff !important;
}

.navbar-home li a:hover {
    color: $bezier !important;
}


.navbar-fixed-top {
    margin-top: 0px;
    padding-top: 5px;
    border-bottom: 1px solid $mercury;
    height: 60px;
    transition: all 0.3s ease;
    background: white;
}

.navbar-fixed-top .navbar-toggle.collapsed {
    background: $bezier;
    color: $bezier;
}


/* navbar right hover */

.navbar-right li a:hover {
    color: $bezier;
    transition: all 0.3s ease-in;
}

/* navbar right shrinked  */



.navbar-header a.navbar-brand {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.navbar-header a.navbar-brand:hover {
    color: #fff;
}

.shrink-home a.navbar-brand {
    color: $bezier;
    padding-top: 20px !important;
    transition: font-size 0.1s ease;
}

.shrink-home a.navbar-brand:hover {
    color: $bezier;
}

.shrink-home .navbar-right li a {
    color: $aluminium !important;
}

.shrink-home .navbar-right li a:hover {
    color: $bezier !important;
}


.shrink-home .navbar-right li a.btn {
    color: #fff !important;
}

.navbar-right li a.btn:hover {
    color: #fff !important;
}


/* NAVBAR BLOG */

.navbar-blog .navbar-logo {
    padding-top: 20px;
}

.navbar-blog li a {
    margin-top: 10px;
    color: $aluminium;
    font-weight: 400;
    font-size: 15px;
}

.navbar-blog li a:hover {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    background: none;
}

.navbar-blog li a:active {
    background: none;
}


/* NAVBAR BLOG */

.navbar-blog a.navbar-brand {
    font-weight: 600;
    margin-left: 10px;
    color: $bezier;
    font-size: 21px;
    padding-top: 20px;
}

.navbar-blog-right a {
    color: $bezier;
    font-size: 15px;
    padding-top: 20px;
}

.navbar-blog a.navbar-brand:hover, .navbar-blog a:hover {
    opacity: 0.8;
    color: $bezier;
}

.navbar-toggle.collapsed {
    /*background: #fff;*/
}

.icon-bar {
    background: $bezier;
}

div[aria-expanded="true"] {
    background: #FFFFFF;
    
}

div[aria-expanded="true"] a {
    color: $bezier !important;
    font-weight: 400;
}

div[aria-expanded="true"] a.btn-bezier {
    margin-left: 15px;
    color: #fff !important;
}


