// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'config';
	

.blog-notification {
	width: 100%;
	background: blue;
	position: absolute;
	top: 100px;
	height: 50px;
	color: #fff;
	z-index: 1000px;
	text-align: center;
}	

.white {
	color: #fff !important;
}

.margin-xs {
	margin-top: 10px;
}

.pagination {
	color: $bezier;	
	font-size: 18px;
}


/* NAVBAR BLOG */

.navbar-blog a.navbar-brand {
	font-weight: 600;
	margin-left: 10px;
	color: $bezier;
	font-size: 21px;
	padding-top: 20px;
}

.navbar-blog-right a {
	color: $bezier;
	font-size: 15px;
	padding-top: 20px;
}

.navbar-blog a.navbar-brand:hover, .navbar-blog a:hover {
	opacity: 0.8;
	color: $bezier;
}

.navbar-toggle.collapsed {
	background: $bezier;
}

div[aria-expanded="true"] {
	background: #FFFFFF;
	
}

div[aria-expanded="true"] a {
	color: $bezier !important;
	font-weight: 400;
}

div[aria-expanded="true"] a.btn-bezier {
	margin-left: 15px;
	color: #fff !important;
}

/* ROW SEARCH */

.row-search {
	background: #52A1ED;
	height: 150px;
}

.row-search h1 {
	/*color: $aluminium;*/
}

.search-form {
	/*display: inline;*/
	font-size: 21px;
}

.search-input {
	width: 15%;
	height: 100%;
	font-size: 26px;
	border-radius: 0 !important;
}



/* BLOG ROW */

.row-blog {
	position: relative;
	top: 70px;
}

.row-blog img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* Iie8 */
}

.row-blog .col-xs-12 {
	height: 410px;
}

.row-blog img {
	max-height: 233px;
	max-width: 100%;
}

.row-blog h3 {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	margin-bottom: -15px;
}

.row-blog h2 {
	font-weight: 800;
	font-size: 21px;
	line-height: 26px;
}

.row-blog p {
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
}

.blog-featured a {
	color: $bezier;
}

.blog-feature-comment-counts {
	margin-left: 10px;
}

.row-promotion {
	height: 265px;
	background: #52A1ED;
}

.row-promotion p {
	font-size: 30px;
}

.row-promotion p.uppercase {
	font-weight: 800;
}

input.opt-in-email {
	width: 90%;
	height: 53px;
	float: right;
}

.row-promotion .btn-bezier {
	margin-left: -20px;
}

/* SHOW POST */

.gif {
	max-width: 100%; 
}

.row-post {
	width: 100%;
}

.container-content {
	margin: 0 auto;
	max-width:700px;
}


.row-post-content img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* Iie8 */
}

.row-post-content iframe {
	max-width: 100%;
}


/* SHOW POST HEADING */

.row-post-content h2 {
	color: rgba(0,0,0,0.8);
	font-family: "jaf-bernina-sans",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
}

.row-post-content h3 {
	color: rgba(0,0,0,0.8);
	font-family: "jaf-bernina-sans",sans-serif;
	font-weight: 600;
	font-size: 36px;
	line-height: 41px; 
}

.row-post-content h4 {
	color:rgba(0,0,0,0.44);
	font-family: "jaf-bernina-sans",sans-serif;
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;
}

/* SHOW POST TEXT ELEMENTS */

.row-post-content p, .row-post-content strong, .row-post-content blockquote, .row-post-content ul li, .row-post-content ol li   {
	font-size: 21px;
	line-height: 33px;
	font-family: "freight-text-pro", serif;
	font-style: normal;
	font-weight: 400;
	color: rgba(0,0,0,0.8);
}

.row-post-content a {
	color: $bezier;
	font-size: 21px; 
}


@media (max-width: 768px) {

.search-input {
	margin-left: 15%;
	margin-right: 10%;
	width: 70%;
}

.container-content {
		max-width: 95%;
	} 

.row-post h1 {
	font-size: 34px;
	line-height: 38px;
}
	
.row-post-content h2 {
	font-size: 28px;
	line-height: 31px;
}

.row-post-content h3 {
	font-size: 24px;
	line-height: 28px; 
}

.row-post-content h4 {
	font-size: 21px;
	line-height: 25px;
}

.row-post-content p, .row-post-content strong, .row-post-content blockquote, .row-post-content ul li, .row-post-content ol li, .row-post-content a {
		font-size: 21px;
		line-height: 28px;
}
}


@media (min-width: 768px) and (max-width: 992px) {
	.container-content {
		max-width: 85%;
	} 

	.search-input {
	width: 20%;
}
}

.row-post-content img {
	max-width: 100%;
}

.row-post-content h2, .row-post-content h3, .row-post-content h4, .row-post-content p, .row-post-content strong, .row-post-content blockquote, .row-post-content ul li, .row-post-content ol li, .row-post-content a {
	margin-top: 1.2em;
}


/* CALL TO ACTION */


.cta {
	text-align: center;
}

a.btn-company {
	padding: .75em 2em;
	color: #ffffff;
	font-weight: bold;
	background: #52A1ED;
}

a.btn-company:hover {
	background: #32CEAB;
	transition: all 0.2s ease;	
}

a.btn-student {
	padding: .75em 2em;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	background: #32CEAB;
}

a.btn-student:hover {
	background: #52A1ED;
	transition: all 0.2s ease;	
}


/* DISCOVER */

.media {
	font-weight: 400;
}

.media-object {
	height: 128px;
	width: 128px;
	border-radius: 50%;
}

.media-heading {
	font-size: 18px;
}

.author-social-icons {
	padding-left: 10px;
}

.weight400 {
	font-weight: 400;
}

.weight800 {
	font-weight: 800;
}

.fa-linkedin {
	color: #0077b5;
}

.fa-twitter {
	color: #00B5F4;
}

.fa-google-plus {
	color:	#DC4E41;
}

.author-social-icons {
	font-size: 21px;
}
