<div class="row bg-elephant">
  <footer>
    <div class="container">
    <ul>
      <li><%= link_to 'About', pages_about_path %></li>
      <li><%= link_to 'Contact', pages_contact_path %></li>
      <li><%= link_to "Terms of Service" %></li>
      <li><%= link_to "Press" %></li>
    </ul>
    <span class="copyright">&copy;2015 Workshopr. LTD.</span>
    <div class="clear"></div>
    </div>
  </footer>
</div>