<div class="row">
  <footer>
    <div class="container">
    <ul>
      <li><%= mail_to "hello@workshopr.com", "Contact" %></li>
      <li><%= link_to "Terms of Service" %></li>
      <li><%= link_to "Press" %></li>
    </ul>
    <span class="copyright">&copy;2015 Workshopr. LTD.</span>
    <div class="clear"></div>
    </div>
  </footer>
</div>