
<nav class="navbar-dashboard">
    <div class="navbar-dashboard-left pull-left">
      <%= link_to 'Wr', root_path, class: 'navboard-dashboard-logo' %>
    </div> 
    <div class="navbar-dashboard-right pull-right">
      <ul class="navbar-dashboard-wrapper">
         <li><%= link_to 'Wr', root_path %></li>
         <li><%= link_to 'Wr', root_path %></li>
         <li><%= link_to 'Wr', root_path %></li>
      </ul>
    </div> 
</nav>