<div class="row row-promotion">
	
	<h2 class="white mb-20 center title-newsletter">Subscribe To Our Newsletter</h2>
	<!-- Begin MailChimp Signup Form -->
	<div class="col-md-6 form-newsletter">
	<form action="//workshopr.us14.list-manage.com/subscribe/post?u=5d7fe9713eac3f87418bd9102&amp;id=f2ce91d4b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate blog-newsletter" target="_blank" novalidate>
	<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		
	    <div class="col-md-8 col-xs-12 col-sm-4">	
				<input type="email" placeholder="Enter your email address" name="EMAIL" class="form-control required email float-right opt-in-email margin-xs" id="mce-EMAIL">
		</div>
		<div class="col-md-4 col-xs-12 col-sm-2">		
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="weight800 btn btn-newsletter margin-xs">
		</div>
	</form>
	</div>
	<!--End mc_embed_signup-->

</div>